* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.mdiv {
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
}
.search {
  position: absolute;
  height: 40px;
  width: 100px;
  background-color: rgb(247, 244, 244);
  right: 0px;
}
.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  /* background-color: rgb(206, 174, 174); */
  background-color: #000;
  height: 60px;
  width: 100%;
  /* display: flex; */
  z-index: 5;
}
.list {
  margin-left: 70px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-variant: normal;
  font-stretch: extra-expanded;
  color: whitesmoke;
}
.list:hover {
  color: rgb(44, 115, 173);
  transform: scale(1.2, 1.2);
  transition-duration: 1.3s;
}
.i {
  position: absolute;
  /* right: 10px; */
  padding-left: 100px;
}
.navlist {
  position: absolute;
  display: flex;
  left: 20px;
  justify-content: center;
  margin-top: 13px;
  margin-left: 100px;
}
#GFG {
  text-decoration: none;
}
.wishlist {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 100px;
  top: 15px;
}

.services {
  position: relative;
}

.dropdown {
  background-color: azure;
  border-radius: 20px;
  -webkit-text-stroke: 1px;
  padding-left: 88px;
  /* padding: 1em 0; */
  position: absolute;
  display: none;
  top: 19px;
}

.dropdown li + li {
  margin-top: 0px;
}

.dropdown li {
  padding: 0.2em 0.5em;
  width: 10em;
  text-align: left;
}

.dropdown li:hover {
  background-color: rgb(218, 218, 10);
}

.services:hover .dropdown {
  display: block;
}
#iconsofnav {
  padding-left: 250px;
}

.page {
  height: 100vh;
  width: 100%;
  position: relative;
  border: none;
}
.slideoffers {
  height: 500px;
  width: 100%;
}
/* .start {
    height: 100vh;
  } */
html {
  scroll-behavior: smooth;
}
.brand {
  height: 300px;
  width: 100%;
  border: none;
}

.c {
  /* min-width: 700px; */
  width: 100%;
  height: 500px;

  padding: 20px;
  /* padding-bottom: 40px; */
  box-shadow: 0 8px 48px 2px hsla(10 6% 15% / 0.4);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;

  box-sizing: border-box;
}

.ci {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  transform-origin: left 50%;
  background: inherit;
  z-index: var(--z);
  transition: 0.3s ease-out;
}

.ci img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ch {
  position: absolute;
  top: 70%;
  left: 4%;
  transform: translateY(-50%);

  font-size: 2rem;
  color: r;
  text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / 0.3);
}

input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;

  background: hsla(0, 85%, 38%, 0.3);
  cursor: pointer;

  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked + label {
  background: linear-gradient(
    to right,
    hsla(var(--hue) 80% 70% / 0.7),
    hsla(calc(var(--hue) + 30) 80% 50% / 0.7)
  );
}

input:not(:checked) + label + .ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked + label + .ci ~ .ci {
  transform: translateX(100%);
}

input:not(:checked) + label + .ci {
  transition: 0;
}

/* ========================================================================== */
.abs-site-link {
  position: fixed;
  z-index: 11;
  bottom: 20px;
  left: 20px;
  color: hsla(32, 87%, 30%, 0.8);
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 3px solid currentColor;
  text-decoration: none;
  background-color: inherit;
}

.wimage {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("https://images7.alphacoders.com/908/908441.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 57px;

  /* filter: blur(2px);
    -webkit-filter: blur(3px); */
  z-index: -5;
}
.sun {
  display: flex;
}
.mp {
  position: absolute;
  padding: 100px;
}
.m {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: grey;
  left: 20px;
  padding: 50px;
}
.branding {
  height: 200px;
  width: 100%;
}
.brandling > td {
  width: 25%;
  border: black;
}
.wtext {
  position: absolute;
  height: 500px;
  width: 570px;
  top: 80px;
  left: 40px;
  /* background-color: gray; */
  padding: 40px;

  /* -webkit-text-stroke-color:2px aquamarine; */
}
.welp {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
  color: whitesmoke;
  -webkit-text-stroke: none !important;
}
.hbutt {
  position: relative;
  height: 60px;
  width: 100px;
  top: 500px;
  left: 350px;
}
.butt {
  background-color: red;
  color: rgb(213, 22, 22);
  border-radius: 10px;
  height: 50px;
  width: 100px;
}
.butt:hover {
  background-color: whitesmoke;
  color: red;
  /* transform: translate(1.5,1.5); */
  transform: scale(1.2, 1.2);
  transition-duration: 1.5s;
}
table {
  width: 100%;
}
td {
  height: 50px;
  width: 20%;
  background-color: aqua;
}

h1,
h4,
p {
  padding-top: 25px;
  font-size: 50px;
  -webkit-text-stroke: 1px black;
}
.h1 {
  font-size: 60px;
}
.h4 {
  font-size: 35px;
}
div p {
  font-size: 15px;
  /* justify-content: center; */
  text-align: justify;
  -webkit-text-stroke: 1px black;
  color: red;
}

.com {
  font-size: x-small;
  color: red;
  padding-top: 0px;
}
.btn {
  position: absolute;
  height: 25px;
  width: 100px;
  margin-top: 0px;
}

.explore {
  position: absolute;
  height: 300px;
  width: 650px;
  top: 30px;
  left: 490px;
  border-radius: 5px;
  /* border: 2px solid black  */
  box-shadow: 5px 8px 0px 8px rgb(181, 178, 178);
}
.etwo {
  top: 380px;
  left: 150px;
  height: 290px;
  border: none;
  box-shadow: 5px 8px 0px 8px rgb(181, 178, 178);
}
.exp {
  /* position: absolute; */
  /* background-color:rgb(222,184,135) ; */
  background-color: whitesmoke;
  border: none;
  /* background-image: url("https://www.shutterstock.com/image-illustration/colorful-abstract-background-waves-260nw-2317020395.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.exh {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  text-align: center;
  color: blue;
}
div > h5 {
  color: red;
}
div > h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
div > h6 {
  color: rgb(235, 129, 7);
}
.p1 {
  color: brown;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-size: 30px !important;
}
.subhead {
  font-size: 40px;
  color: rgb(235, 129, 7);
}
.head {
  font-size: 17px;
}
.eimage {
  position: absolute;
  height: 200px;
  width: 350px;
  bottom: 80px;
  right: 0px;
  /* background-color: antiquewhite; */
  background-image: url("https://enricoeyewear.com/cdn/shop/files/Module_2_2x-v2_2.png?v=1685359116&width=750");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card {
  position: absolute;
  height: 300px;
  width: 250px;
  top: 30px;
  left: 30px;
  background-color: whitesmoke;
  border-radius: 15px;
  /* border: 2px solid black; */
  box-shadow: 0px 5px 3px 5px rgb(187, 181, 181);
}
.i2 {
  left: 390px;
}
.i3 {
  left: 750px;
}
.i4 {
  left: 1110px;
}
.i11 {
  top: 380px;
}
.i12 {
  top: 380px;
  left: 390px;
}
.i13 {
  top: 380px;
  left: 750px;
}
.i14 {
  top: 380px;
  left: 1110px;
}
.card-body {
  align-content: center;
  position: absolute;
  bottom: 45px;
}
.com {
  font-size: 15px;
}
.contact {
  height: 400px;
  border: none;
  align-content: center;
}
.mcon {
  height: 450px;
  width: 100%;
  background-color: rgb(32, 33, 37);
  align-content: center;
  /* padding-top: 10px; */
}

.care {
  position: absolute;
  height: 250px;
  width: 270px;
  /* left: 20px; */
  color: whitesmoke;
  left: 90px;
}
.two {
  position: absolute;
  left: 600px;
  color: whitesmoke;
}
.three {
  position: absolute;
  height: 250px;
  width: 270px;
  right: 100px;
  color: whitesmoke;
}
.pay {
  position: absolute;
  height: 60px;
  width: 250px;
  /* background-color: grey; */
  bottom: 70px;
  left: 30px;
}
.ptwo {
  left: 370px;
}
.paym {
  color: aliceblue;
}
.copy {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: grey;
  bottom: 0px;
  /* left: 0px; */
  align-content: center;
}
.fo {
  margin-left: 570px;
}
.iul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.item a {
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  background-color: hsl(203, 92%, 97%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid hsl(203, 92%, 97%);
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: hsl(203, 92%, 8%);
  transition: 0.5s ease;
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.item:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.item:nth-child(2) {
  --bg-color: #0077b5;
}
.item:nth-child(3) {
  --bg-color: #ff0000;
}
.item:nth-child(4) {
  --bg-color: #000;
}
.sicon {
  position: absolute;
  bottom: 90px;
  left: 570px;
}
.infom {
  position: relative;
  height: 500px;
}
.info {
  position: absolute;
  width: 250px;
  height: 500px;
  left: 30px;
  /* background-color: gray; */
  filter: blur(0.1px);
}
.info2 {
  left: 500px;
}
.info3 {
  left: 990px;
}
.cart {
  height: 50px;
  width: 100px;

  color: whitesmoke;
  background-color: royalblue;
}
