* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.mdiv {
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  /* display: flex; */
  /* background-color: gray; */
}
.search {
  position: absolute;
  height: 40px;
  width: 100px;
  background-color: grey;
  right: 0px;
}
.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
  height: 60px;
  width: 100%;
  /* display: flex; */
  z-index: 5;
}

.list {
  margin-left: 60px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.navlist {
  position: absolute;
  display: flex;
  left: 20px;
  justify-content: center;
  margin-top: 13px;
  margin-left: 300px;
}

.services {
  position: relative;
}

.dropdown {
  background-color: azure;
  border-radius: 20px;
  -webkit-text-stroke: 1px;
  padding-left: 88px;
  /* padding: 1em 0; */
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  top: 19px;
}

.dropdown li + li {
  margin-top: 0px;
}

.dropdown li {
  padding: 0.2em 0.5em;
  width: 10em;
  text-align: left;
}

.dropdown li:hover {
  background-color: rgb(218, 218, 10);
}

.services:hover .dropdown {
  display: block;
}
.iconimg {
  position: absolute;
  height: 10px;
  width: 10px;
  left: 10px;
  background-image: url("https://imgs.search.brave.com/wa0hxzZtB_2Qdm35ClECD_u2xseJR8L-aNuaToUwCKE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy82/MjliNGJhNzk1Zjc5/ZGM5ZmE3MjU2ZmEu/cG5n");
}
.page {
  height: 100vh;
  width: 100%;
  position: relative;
  border: 2px solid black;
}
html {
  scroll-behavior: smooth;
}
.wimage {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("https://images5.alphacoders.com/117/1179924.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(3px);
  z-index: -5;
}
.sun {
  display: flex;
}
.mp {
  position: absolute;
  padding: 100px;
}
.m {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: grey;
  left: 20px;
  padding: 50px;
}
.wtext {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 160px;
  left: 100px;
  background-color: gray;
}

table {
  width: 100%;
}
td {
  height: 50px;
  width: 20%;
  background-color: aqua;
}
