* {
  top: 0;
  margin: 0;
  box-sizing: border-box;
}
.mdiv {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
}
.card-container {
  position: relative;
  height: 450px;
  width: 300px;
  margin-left: 30px;
  background-color: rgb(229, 239, 239);
  border-radius: 10px;
}
img {
  height: 250px;
  width: 300px;
}
h3 {
  margin-top: 10px;
}

p {
  margin-top: 10px;
  margin-left: 80px;
}
.btn {
  position: ;
  margin-top: 20px;
  padding: 10px;
  margin-left: 50px;
  height: 40px;
  width: 120px;
  background-color: red;
  border-radius: 5px;
  text-align: center;
}
#btn {
  padding: 10px;
}
